<%@title = "faq" %>
<section class="faq_main">
    <div class="faq_main_wrapper">
    	 <h1><%= t("faq.title")%></h1>
    </div>
</section>
<section class="faq">
	<div class="container">
		<div class="col-md-9">
			<div class="faq_wrapper">
				
				<h4><%= t("faq.first")%></h4>
				<p><%=  t("faq.firstanswer")%></p>

				<h4><%= t("faq.second")%></h4>
				<p>I<%= t("faq.secondanswer")%></p>

				<h4><%= t("faq.third")%></h4>
				<p><%=  t("faq.thirdanswer")%></p>

				<h4><%= t("faq.fourth")%></h4>
				<p><%=  t("faq.fourthanswer")%></p> 

				<h4><%= t("faq.fifth")%></h4>
				<p><%=  t("faq.fifthanswer")%></p>

				<h4><%= t("faq.sixth")%></h4>
				<p><%=  t("faq.sixthanswer")%></p>

				<h4><%= t("faq.seventh")%></h4>
				<p><%=  t("faq.seventhanswer")%></p>
			</div>
		</div>
	    <%= render :partial => "shared/sidebar"%>
	</div>	
</section>

 