<% @title="home" %>
<section class="jumbotron">
	<div class="container">
	    <div class="col-md-6">
	        <div class="info">
	           <h1><%= t('index.welcome') %></h1>
			   <h2><%= t('index.performance') %></h1>
			   <h3><%= t('index.launch') %></h3>
			   <div class="btn-wrapper">
			       <%=link_to t('index.links.deploy'), terms_path, :class =>'btn btn-primary btn-shadow'%>
			   </div>
			</div>	
	    </div>
	    <div class="col-md-6">
	       <div class="term-wrapper">
	       	 <%= image_tag ('terminal.png'), class:"terminal" %>
	       </div>	    	
	    </div>
	</div>
     <%= image_tag ('clouds.png'), class:"cloud-bg" %>
</section>
<section class="product">
	<div class="container">
		<div class="features">
			<h1><%= t('product.offer') %></h1>
			<h3><%= t('product.welcome') %></h3>
			<div class="wrapper">
				<div class="col-md-4">
					<div class="feature-list border">
						<div class="feature-img">
                            <%= image_tag ('server.png') %>
						</div>
						<h3><%= t('feature.cloud') %><h3>
					    <p><%= t('feature.instance') %></p>
					    <a href=""><%= t('feature.links.cloud') %></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-list border">
						<div class="feature-img">
							<%= image_tag ('hosting.png')%>
						</div>
						<h3><%= t('feature.reseller') %><h3>
					    <p><%= t('feature.include') %></p>
					    <a href=""><%= t('feature.links.hosting') %></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-list">
						<div class="feature-img">
                            <%= image_tag ('backup.png') %>
						</div>
						<h3><%= t('feature.hosting') %><h3>
					    <p><%= t('feature.info') %></p>
					    <a href=""><%= t('feature.links.backup') %></a>
					</div>
				</div>
			</div>
		</div>
	</div>               
</section>
<section class="demo">
	<div class="container">
		<div class="demo-wrapper">
		<h3>Under 5mns Server deployment</h3>
			<div class="video-frame">
			    <%=image_tag ('terminal_header.png'), class:"browser_head" %>
				<%=image_tag('nodelogics.gif')%>
			</div>
		</div>		
	</div>
	<%= image_tag ('clouds.png'), class:"cloud-bg" %>	
</section>
	<div class="separator-main">
	</div>
<section class="pricing" id="list-pricing">
	<div class="container">
		<div class="price-list">
			<div class="price_wrapper">
				<!--<img src='img/smallservers.png' class="small_server" alt="small server"/>-->
			</div>
			<h3>Cloud Hosting Plans for Everyone</h3>
			<div class="openvz_wrapper">
			    <h5 class="sub">Straightforward Pricing</h5>
	            <p class="main_notation">Our VPS Servers are powered by the latest Intel Hardware  with Enterprise Raid protected storage for high performance. Each VPS includes our advanced features for instant upgrades, DDOS protection, 160Gbps network and 24/7 Support.</p>
			</div>
			<h6>Pricing in USD. Excludes any applicable tax.</h6>
			<div class="table-wrapper">
			    <% @plans.each do |plan| %>
			    <% if plan.popular == true %>
				<div class="list-wrapper three popular ">
				<%else%>
				<% if plan.id == 1%>
				<div class="list-wrapper one" >	
				<% elsif plan.id == 2 %>
				<div class="list-wrapper two" >	
				<% elsif plan.id == 4 %>
				<div class="list-wrapper four" >
				<% elsif plan.id == 5 %>
				<div class="list-wrapper five" >	
				<%end%>	                                       	
				<%end%>
				    <% if plan.popular == true %>
					<div class="price-bar" id="popular">
						<h3><%=plan.name%></h3>
					</div>
					<% else %>
					<div class="price-bar">
						<h3><%=plan.name%></h3>
					</div>
					<%end%>
					<%if plan.price == 0 %>
					<p><span>FREE</span></p>
					<%else%>
					<p><span>$<%=plan.price%></span>/mo</p>
					<%end%>
					<%if plan.popular == true %>
					<div class="pop-flag">
						<h3>most popular</h3>
					</div>
					<% end %>
					<div class="price_features">
						<ul>
							<li><%=plan.ssd%>GB <span>HD</span></li>
							<li><%=plan.memory%>MB <span>Memory</span></li>
							<li><%=plan.processor%>Core <span>Processor</span></li>
							<li><%=plan.transfer%>GB <span>Transfer</span></li>
						</ul>
					</div>					
					<div class='order_btn'>
						<a href="https://hosting.nodelogics.com/auth/register?redirect=/machines/new?plan_id=<%=plan.id%>" class="btn btn-primary ">Deploy</a>
					</div>		
				</div>
				<%end%>			
			</div>
		</div>		
	</div>
	<div class="container">
        <p class="notation">**Based on KVM virtualiztion technology .All resources are guaranteed under the limits of the available resources.</p>
	</div>
	
	<!--<div class="container">
	    <div class="openvz_wrapper">
		    <h5 class="sub">Specialized Dedicated Servers</h5>
         </div>
	    <div class="custom">
	    	<div class="table-responsive">
			<table class="table table-striped table-condensed">
			  <thead>
			    <tr>
			      <th>Plan</th>
			      <th>Description</th>
			      <th>Ram</th>
			      <th>Storage</th>
			      <th>CPU Cores</th>
			      <th>Transfer</th>
			      <th>100% Uptime</th>
			      <th>DDOS Protected</th>
			      <th>Pricing</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">WORDPRESS</th>
			      <td>Self-Hosted blog</td>
			      <td>512MB</td>
			      <td>20GB</td>
			      <td>1 CPU</td>
			      <td>1 TB</td>
			      <td>Yes</td>
			      <td>No</td>
			      <th>$3/mo</th>
                  <td><a href="http://bit.ly/2ePdf1P" class="btn btn-primary-sm fl">Deploy</a></td>
			    </tr>
			    <tr>
			      <th scope="row">STREAMA</th>
			      <td>Self-Hosted Netflix clone</td>
			      <td>2GB</td>
			      <td>150GB</td>
			      <td>1 CPU</td>
			      <td>1 TB</td>
			      <td>Yes</td>
			      <td>No</td>
			      <th>$9/mo</th>
                  <td><a href="http://bit.ly/2f4A7eM" class="btn btn-primary-sm fl">Deploy</a></td>
			    </tr>
			  </tbody>
			</table>
			</div>
	    </div>	
	</div>
</section>-->
	<section class="value" id="features">
		<div class="container">
			<div class="value-item">
				<h1>Nodelogics Advantage</h1>
				<div class="wrapper">
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
                                <%= image_tag ('clock.png') %>
							</div>
							<h3 class="value-text">Deploy intances in Second<h3>
						    <p class="value-text align">Latest generation Intel CPUs guarantee consistent performance</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
                                <%= image_tag ('network.png') %>
							</div>
							<h3 class="value-text">Lighting Fast Network<h3>
						    <p  class="value-text align">Each main server has a fault tolerant and redundant 40Gbps network to ensure uptime and throughput</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list">
							<div class="feature-img">
                                <%= image_tag ('contract.png') %>
							</div>
							<h3 class="value-text">No long term contracts<h3>
						    <p class="value-text align">Spin up and spin down with ease with Straightforward pricing when you use our platform</p>
						</div>
					</div>
				</div>
			</div>
		</div>
          <%= image_tag ('clouds.png'), class:"cloud-img" %>              
	</section>
	<section class="cta">
		<div class="container">
			<div class="cta-wrapper">
				<h3>Launch your cloud server in seconds</h3>
			</div>
			<div class='cta-btn'>
			<a href="http://bit.ly/2g5VL2u" class="btn btn-primary ">Deploy Now<i class="fa fa-arrow-right" aria-hidden="true"></i>
</a>
			</div>	
		</div>
		<%= image_tag ('rocket_new.png'), class:"rocket" %>
	</section>