<section class="jumbotron">
		<div class="container">
			<div class="info">
			   <h1>High Performance Cloud Server</h1>
			   <h3>Designed for Quick Launch</h3>
			   <div class="btn-wrapper">
			       <a class="btn btn-primary btn-shadow" href="http://bit.ly/2cqgrDi">Deploy a server</a>
			   </div>
			</div>
		</div>
         <%= image_tag ('cloud-bg.png'), class:"cloud-bg" %>
		<!--<img class="cloud-bg" src="img/cloud-bg.png" alt="cloud server"/>-->
	</section>
	<section class="product">
		<div class="container">
			<div class="features">
				<h1>Our Product Offering</h1>
				<h3>Simple. Powerful. Reliable.</h3>
				<div class="wrapper">
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
                                <%= image_tag ('server.png') %>
							</div>
							<h3>Cloud Servers<h3>
						    <p>Our powerful compute instances are perfect for your web application staging and quick development environment.</p>
						    <a href=""> Starting $0.07269 Hourly</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
								<%= image_tag ('hosting.png')%>
							</div>
							<h3>Pro Hosting<h3>
						    <p>Nodelogics includes a vast array of tools and guarantees with each reseller hosting plan purchase. Fromsite-building tools and script installers towards your clients satisfaction guarantees</p>
						    <a href="">Starting $19 monthly</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list">
							<div class="feature-img">
                                <%= image_tag ('backup.png') %>
							</div>
							<h3>Cloud Backup<h3>
						    <p>Your files will be protected with the security of the nodelogics cloud lined with amazon S3 storage and, of course, it’s accessible from anywhere</p>
						    <a href="">Starting $5/GB per User</a>
						</div>
					</div>
				</div>
			</div>
		</div>               
	</section>
	<section class="value">
		<div class="container">
			<div class="value-item">
				<h1>Painless Instances Management</h1>
				<div class="wrapper">
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
                                <%= image_tag ('clock.png') %>
							</div>
							<h3 class="value-text">Deploy intances in Second<h3>
						    <p class="value-text align">Latest generation Intel CPUs guarantee consistent performance</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list border">
							<div class="feature-img">
                                <%= image_tag ('network.png') %>
							</div>
							<h3 class="value-text">Lighting Fast Network<h3>
						    <p  class="value-text align">Each main server has a fault tolerant and redundant 40Gbps network to ensure uptime and throughput</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-list">
							<div class="feature-img">
                                <%= image_tag ('contract.png') %>
							</div>
							<h3 class="value-text">No long term contracts<h3>
						    <p class="value-text align">Spin up and spin down with ease with Straightforward pricing when you use our platform</p>
						</div>
					</div>
				</div>
			</div>
		</div>
          <%= image_tag ('cloud.png'), class:"cloud-img" %>              
	</section>
	<section class="pricing">
		<div class="container">
			<div class="price-list">
				<div class="price_wrapper">
                    <%=image_tag "smallservers.png", class:"smallserver"%>
					<!--<img src='img/smallservers.png' class="small_server" alt="small server"/>-->
				</div>
				<h3>Straightforward Pricing</h3>
				<h6>Pricing in USD. Excludes any applicable tax.</h6>
				<div class="col-md-4">
					<div class="price">
						<div class="bar"></div>
						<h1>Starter</h1>
						<p><span>$3.50</span>/mo</p>
						<div class="price_features">
							<ul>
								<li>30GB <span>HD</span></li>
								<li>1GB <span>Memory</span></li>
								<li>1 Core <span>Processor</span></li>
								<li>1TB <span>Transfer</span></li>
							</ul>
						</div>
						<div class='order_btn'>
							<a href="http://bit.ly/2cqgrDi" class="btn btn-primary ">Deploy</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price">
						<div class="bar"></div>
						<h1>Power User</h1>
						<p><span>$5</span>/mo</p>
						<div class="price_features">
							<ul>
								<li>30GB <span>HD</span></li>
								<li>2GB <span>Memory</span></li>
								<li>1 Core <span>Processor</span></li>
								<li>1TB <span>Transfer</span></li>
							</ul>
						</div>
						<div class='order_btn'>
							<a href="http://bit.ly/2cqgrDi" class="btn btn-primary ">Deploy</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price">
						<div class="bar"></div>
						<h1>Elite</h1>
						<p><span>$8</span>/mo</p>
						<div class="price_features">
							<ul>
								<li>30GB <span>HD</span></li>
								<li>2GB <span>Memory</span></li>
								<li>2 Core <span>Processor</span></li>
								<li>1TB <span>Transfer</span></li>
							</ul>
						</div>
						<div class='order_btn'>
							<a href="http://bit.ly/2cqgrDi" class="btn btn-primary ">Deploy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>