<% @title = "blog" %>
<section class="blog-posts">
  <div class="container">
    <% if admin_signed_in?%>
    <div class="new-post">
      <%= link_to new_post_path, class: "btn btn-primary" do %>
          <i class="fa fa-pencil-square-o"></i>Create Post
      <% end %>
    </div>
    <% end %>
    <% @posts.each do |post| %>
    <div class='post-wrapper'>
      <div class="post-title">
        <h2><%= post.title %></h2>
      </div>
      <div class="post-separator"></div>
      <div class="post-body">
        <p><%= raw (post.body).truncate(600) %></p>
      </div>
      <br>
      <div class="more">
        <%= link_to "(More...)", post_path(post) %>
        <% if admin_signed_in?%>
        <%= link_to "Edit", edit_post_path(post)%>
        <%= link_to "| Delete", post, data: { confirm: "Are you sure?" }, method: :delete %>
        <% end %>
      </div>
      <%end%>      
    </div>     
  </div> 
</section>



