<% @title = "blog" %>
<section class="blog-posts">
  <div class="container">
    <% if admin_signed_in?%>
    <div class="new-post">
      <%= link_to new_post_path, class: "btn btn-primary" do %>
          <i class="fa fa-pencil-square-o"></i>Create Post
      <% end %>
    </div>
    <% end %>
  <% @posts.each do |post| %>
    <div class='post-wrapper'>
      <div class="post-title">
        <h2><%= post.title %></h2>
      </div>
      <div class="post-separator"></div>
      <div class="post-body">
        <p><%= raw(post.body).truncate(358) %></p>
      </div>
      <div class="more">
        <%= link_to "(More...)", post_path(post) %>
        <% if admin_signed_in?%>
        <%= link_to "Edit", edit_post_path(post)%>
        <% end %>
      </div>      
    </div>
    <%end%>    
  </div>  
</section>



