<!DOCTYPE html>
<html>
<head>
  <title><%if @title.present?%>
  Nodelogics-<%= @title %>
  <%else%>
  Nodelogics
  <%end%>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({
    google: ['Open sans', 'Varela Round']
  }) %>
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.nodelogics.com/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript>
  <p><img src="//stats.nodelogics.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
  <% if Rails.env.production? %>
  <script> (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n; w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t), m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m) })(window,document,'script','http(s)://yourmautic.com/mtc.js','mt'); mt('send', 'pageview'); 
  </script>
  <% end %>
  <%=render 'cookies_eu/consent_banner' %>
  <%=render :partial =>'shared/feedback'%>
  <%=render :partial =>'shared/chat'%>  
</head>
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->  
<body>
  <% if params[:controller] =='pages' && params[:action]== 'welcome' %>
  <%=render :partial =>'shared/welcomeHeader'%>
  <% else %>
  <%=render :partial =>'shared/header'%>
  <% end %>
<%= yield %>
  <%=render :partial =>'shared/footer'%>

</body>
</html>
