<!DOCTYPE html>
<html>
<head>
  <title><%if @title.present?%>
  Nodelogics-<%= @title %>
  <%else%>
  Nodelogics
  <%end%>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({
    google: ['Open sans', 'Varela Round']
  }) %>
  <%= favicon_link_tag 'favicon.ico' %>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/57ddb450dd50b61453665802/1b6jvqdh9';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

  <!-- start Piwik Code -->
  <% if Rails.env.production? %>
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.nodelogics.com/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <% end %>
  <!-- End Piwik Code -->

  <%=render 'cookies_eu/consent_banner' %>
  <%=render :partial =>'shared/feedback'%> 
</head>
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>-->  
<body>
  <% if params[:controller] =='pages' && params[:action]== 'welcome' %>
  <%=render :partial =>'shared/welcomeHeader'%>
  <% else %>
  <%=render :partial =>'shared/header'%>
  <% end %>
<%= yield %>
  <%=render :partial =>'shared/footer'%>

</body>
</html>
