<!DOCTYPE html>
<html>
<head>
  <title>Nodelogics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({
    google: ['Montserrat', 'Open sans', 'Istok Web']
  }) %>
</head>
  <%=render :partial =>'shared/feedback'%>
  <%=render :partial =>'shared/chat'%>  
<body>
  <%=render :partial =>'shared/header'%>
<%= yield %>
  <%=render :partial =>'shared/footer'%>
</body>
</html>
