<!DOCTYPE html>
<html>
<head>
  <title><%if @title.present?%>
  Nodelogics-<%= @title %>
  <%else%>
  Nodelogics
  <%end%>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({
    google: ['Montserrat', 'Open sans', 'Istok Web']
  }) %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://104.167.2.15:3000/assets/chat/chat.min.js"></script>
</head>
  <%=render :partial =>'shared/feedback'%>
  <%=render :partial =>'shared/chat'%>  
<body>
  <%=render :partial =>'shared/header'%>
<%= yield %>
  <%=render :partial =>'shared/footer'%>
</body>
</html>
